<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Change Your Observatory Account Password</title>
</head>

<body>
  <p>Hi {{ username }},</p>
  <p>Please click the following link to change your password. Don't wait, you only have 24 hours to change your
    password!</p>
  <a href="{{ link }}">Change Password</a>
  <br>
  <p>The Observatory Team</p>
</body>

</html>