<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Observatory Account Password Changed</title>
</head>

<body>
  <p>Hi {{ username }},</p>
  <p>Your password has been reset successfully! To sign in, <a href="{{ link }}">click here</a>.</p>
  <br>
  <p>The Observatory Team</p>
</body>

</html>