<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Verify Your Observatory Account</title>
</head>

<body>
  <p>Hi {{ username }},</p>
  <p>Welcome to Observatory! We are excited and happy to have you on board!</p>
  <p>Please click the following link to verify your account. Don't wait, you only have 24 hours to activate your
    account.</p>
  <a href="{{ link }}">Verify your account</a>
  <br>
  <p>The Observatory Team</p>
</body>

</html>